@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Header Hegiht */
        --header-height: 3.5rem;
        /* Color pallets variable values for default theme */
        --container-color: 0deg 0% 100%;
        --body-color: 0deg 0% 99%;
        --border-color: 0deg 0% 94%;
        --first-color: 31deg 100% 70%;
        --title-color: 0deg 0% 15%;
        --btn-color: 0deg 0% 17%;
        --btn-color-alt: 0deg 0% 21%;
        --text-color: 0deg 0% 35%;
        --text-color-light: 0deg 0% 55%;
        --white: #fff;
        --black: #000;
    }
    h1,h2,h3 {
        @apply text-c-title font-bold;
    }
}

@layer components {
    /* Custon Button Styles */
    .btn {
        @apply inline-block font-medium px-8 py-5 trans-ease;
    }
    .btn-small {
        @apply px-6 py-4;
    }
    .btn-gray {
        color: var(--black);
        background-color: hsl(0, 0%, 75%);
        &:hover{
            background-color: hsl(0, 0%, 63%)
        }
    }
    .btn-dark {
        @apply bg-c-btn text-c-white hover:bg-c-btn-alt;
    }
    /* Custom Section Styles */
    .section {
        @apply pt-[6.5rem] md:pt-32 pb-4;
    }
    .section-title {
        @apply relative fs-md lg:fs-lg mb-12 uppercase text-center tracking-[2px];
    }
    .section-title::before {
        @apply content-[''] absolute -top-4 left-0 right-0 my-0 mx-auto w-[70px] h-[1px] bg-c-first;
    }
}

@layer utilities {
    /* Hide scroll bar for Chrome/Safari/Opera */
    .no-scrollbar::-webkit-scrollbar {
        opacity: 0;
    }
    /* hide scroll bar for IE/Edge/FireFox */
    .no-scrollbar {
        scrollbar-width: none;
    }
}

body.dark-theme {
    /* Color pallets variable values for dark theme */
    --container-color: 0deg 0% 16%;
    --body-color: 0deg 0% 12%;
    --border-color: 0deg 0% 20%;
    --first-color: 31deg 76% 74%;
    --title-color: 0deg 0% 95%;
    --btn-color: 0deg 0% 24%;
    --btn-color-alt: 0deg 0% 28%;
    --text-color: 0deg 0% 75%;
}
/* Shadow for Cart on dark theme */
body.dark-theme #cart {
    box-shadow: 0 1px 4px hsla(0, 0%, 4%, 0.3);
}
/* Header Icon color change on dark theme only when the header have the dynamic class */
body.dark-theme #header.dynamic-style #theme-button,
body.dark-theme #header.dynamic-style #cart-shop,
body.dark-theme #header.dynamic-style #nav-toggle {
    @apply text-c-white;
}